@import 'bootstrap/dist/css/bootstrap.min.css';

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');


.award-icon {
    color: rgb(207, 178, 15);  /* Gold Color */
    font-size: 24px;  /* Adjust Size */
    margin-right: 10px;
  }

  h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
   
    
  }

  .hover-effect:hover {
    color: rgb(1, 111, 255) !important; /* Change color on hover */
    text-decoration: underline; /* Optional: Adds an underline */
    transition: color 0.1s ease-in-out; /* Smooth effect */
  }
  
  